/* PHASE 5: Cats */
.content-header {
  width: 900px;
  min-height: 200px;
  display: block;
  background-image: url("../cats.jpg");
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  left: 240px;
  bottom: 15px;
  color: white;
  text-shadow: 1px 1px 2px #aaa, 0 0 1em #aaa, 0 0 0.2em black;
  font-size: 36px;
  line-height: 1;
}

button {
  position: absolute;
  font-weight: 700;
  right: 15px;
  bottom: 15px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
}
